[Desktop Entry]
Type=Application
Name=Keeps
Comment=Clipboard manager
Exec=keeps
Icon=edit-paste
Categories=Utility;
StartupWMClass=keeps
StartupNotify=true
